html {
  background: url(portfoliobkg.jpg) no-repeat center center fixed; 
    background-size: cover;
}

h1 {
  color: #0e4164;
}

.main {
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.9);
  float: right;
  width: 250px;
  text-align: center;
}

p {
    background: none repeat scroll 0 0 #CFC6C2;
    border-radius: 0 0 0 5px;
}
