html {
  background: url(portfoliobkg.jpg) no-repeat center center fixed; 
    background-size: cover;
}
.main {
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.9);
  float: left;
  width: 500px;
}
.h1 {
  padding-left: 10px;
  font-family: 'Coda Caption', sans-serif;
}
.h3 {
  background: #CFC6C2;
  width: 490px;
  border-radius: 0 0 0 5px;
  float: right;
  font-family: 'Anaheim', sans-serif;
}
.p {
    border-radius: 0 0 0 5px;
    padding-right: 10px;
    clear: both;
    float: right;
    font-family: 'Anaheim', sans-serif;
}

.social {
  border-radius: 0 0 0 5px;
  padding-right: 10px;
  padding-bottom: 10px;
  clear: both;
  float: right;
}
